.box {
  background-color: #ff5200;
  height: 730px;
}

.header {
  border: 1px solid #ff5200;
  background-color: #ff5200;
  height: 110px;
}

.top {
  
  background-color: #ff5200;
  margin-top: 15px;
}

.logo {
  height: 50px;
  margin-left: 120px;
  margin-top: 15px;
}
.logo:hover{
  transform: scale(1.08);
}

.buttons {
  cursor: pointer;
  margin-left: 30%;
  margin-top: -55px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
    
#btn1 {
  font-family: Georgia, "Times New Roman", Times, serif;
  color: white;
  border-radius: 15px;
  font-weight: bold;
  border: 1px solid #ff5200;
  background-color: #ff5200;
  height: 55px;
  width: 160px;
}

#btn1:hover {
  color: black;
}

#btn2 {
  margin-left: -300px;
  font-family: Georgia, "Times New Roman", Times, serif;
  color: white;
  border-radius: 15px;
  font-weight: bold;
  margin-left: -300px;
  border: 1px solid #ff5200;
  background-color: #ff5200;
  height: 55px;
  width: 160px;
}

#btn2:hover {
  color: black;
}

#btn3 {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-weight: bolder;
  font-size: 16px;
  color: white;
  margin-left: -300px;
  border-radius: 15px;
  background-color: #ff5200;
  border: 1px solid white;
  height: 55px;
  width: 160px;
}

#btn3:hover {
  color: black;
}

#btn4 {
  font-family: Georgia, "Times New Roman", Times, serif;
  color: white;
  border-radius: 15px;
  font-weight: bold;
  margin-left: -250px;
  border: 1px solid black;
  background-color: black;
  height: 55px;
  width: 150px;
  margin-left: -280px;
}

#btn4:hover {
  color: #ff5200;
  
}

.question {
  color: white;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-weight: bolder;
  cursor: context-menu;
  text-align: center;
  margin-top: 30px;
  margin-left: 25%;
  max-width: 50%;
}

#borderLine{
  
  color: white;
  margin-top: -15px;
  margin-left: 60px;
  width: 90%;
}
.dropdown-center {
  margin-left: 20%;
}

.search {
  margin-left: 5%;
  margin-top: -20%;
  width: 500px;
  outline: none;
  height: 65px;
  padding-left: 10px;
  width: 200%;
  padding: 8px;
  border:none;
  border-radius: 15px;
}

.search::placeholder{
     color:grey;
     padding-left: 20px;
     opacity: 50%;
  
}

 #searchbtn {
  height: 80px;
  width: 20px;
  opacity: 60%;
  border: none;
  margin-left: 35.5rem;
  margin-top: -90px;
  border-radius: 15px;
  color: grey;
 }
 .noitem-txt{
  text-align: center;
  margin-left: 25%;
  margin-top: 50px;
  font-family:'Poppins', sans-serif;
  font-size: 21px;
  color: grey;

 }

.mid-img {
  display: flex;
  margin-left: 5%;
  margin-top: -3%;
}

/* #mid-image {
  height: 400px;
  width: 600px;
  border-radius: 25px;
}

#mid-image1 {
  height: 400px;
  width: 600px;
  border-radius: 25px;
} */
 .city-title{
  font-family:'Outfit', sans-serif;
  margin: 50px 0 0 320px;
  font-size: 25px;
  font-weight: bold;
 }
.cities-list{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2px;
    padding: 20px;
    margin-left: 20%;
    max-width: 60%;
  }
#cities-list{
 
  font-family:'Poppins', sans-serif;
  border: 1px solid lightgray;
  border-radius: 15px;
  height: 50px;
  width: 200px;
  text-align: center;
  padding-top:13px;
  font-size: 13px;
  margin-top: 10px;
  
}
#cities-list:hover{
  background-color: whitesmoke;
}
.three-images{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  max-width: 80%;
  margin-left: 9%;
}
#first{
  background-color: white;
  border-radius: 30px;
  height: 310px;
  width: 330px;
  
}
#ti-txt{
  width: 160px;
  padding-left:10px;
  border-radius: 15px;
  background-color: #ff5200;
}

#second{
  
  background-color: white;
  border-radius: 30px;
  height: 310px;
  width: 330px;
  
}

#third{
  
  background-color: white;
  border-radius: 30px;
  height: 310px;
  width: 330px;
  
}
.cuisineScroll{
  width: 1200px;
  border: none;
  min-width: 0;
  display: flex;
  flex-direction: row;
  overflow-x: auto;
  flex-wrap: nowrap;  
  gap: 50px;
  scrollbar-width: thin;
  scrollbar-color: solid white;
  scroll-behavior: smooth;
  padding: 16px 0;
}
.cardsScroll{
  width: 50px;
  height: 50px;
  flex: 0 0 auto;

}
.cardsScroll:hover{
   transform:scale(1.1);
}
.scroll-btn {
  background:whitesmoke;
  color: black;
  border: none;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  font-size: 1.5rem;
  cursor: pointer;
  margin-left: 38em ;
  margin-top: -40px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background 0.2s;
}
.scroll-btn:hover{
    background-color: ;
}
.scroll-btn1 {
  background:whitesmoke;
  color:black ;
  border: none;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  font-size: 1.5rem;
  cursor: pointer;
  margin-left: 40.5em ;
  margin-top: -40px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background 0.2s;
}


.huge-img {
  height: 420px;
  width: 90%;
  margin-left: 5%;
  margin-top: 100px;
  color: #eaf5e4;
  border-radius: 15px;
}

.bottom-img {
  height: 280px;
  width: 100%;
  margin-top: 50px;
}

.best-restaurant {
  color: black;
  margin-left: 9em;
  margin-top: 4%;
  font-size: 25px;
  font-weight: bolder;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.cards {
  margin-top: 2%;
  margin-left: 10em;
  margin-right: 4em;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  gap: 50px;
}
.card-1 {
  width: 20rem;
  border: 1px solid grey;
}
/* .card-1:hover{
  transform: scale(1.05);
} */

.title-name {
  margin-top: -120px;
}


.content {
  margin-top: 10px;
}

.cuisine-type {
  color: grey;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
#inner-cuisine {
  font-size: 12px;
  color: grey;
}
.content-txt {
  color: white;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  width: 20rem;
  height: 35px;
  border-radius: 5px;
  padding: 5px;
  background-color: rgb(27, 166, 114);
  font-size: 15px;
  opacity: 85%;
  padding-left: 25px;
  font-weight: bold;
}
#contenttxt-icon {
  margin-top: -2px;
  margin-left: -20px;
  position: absolute;
}
#offer {
  font-size: 12px;
  margin-left: 30px;
}
#offer-1 {
  font-size: 12px;
  margin-left: 58px;
}
.content-txt-1 {
  color: rgb(27, 166, 114);
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  width: 20  rem;
  height: 35px;
  border-radius: 5px;
  padding: 5px;
  background-color: rgb(208, 246, 232);
  font-size: 15px;
  padding-left: 5px;
}

/*----------Common header---*/
.header-1 {
  display: flex;
  position: fixed;
  z-index: 1000;
  width: 100%;
  height: 80px;
  background-color: white;
  /* overflow: hidden; */
  font-family:'Courier New', Courier, monospace;
  font-weight: bold;
}
.logo-1 {
  height: 50px;
  border-radius: 20px;
  margin-left: 8%;
  margin-top: 15px;
 
  
}
.logo-1:hover{
  transform: scale(1.1);
}
#order{
  margin-top:28px ;
  margin-left:30px;
  height: 23px;
  border-bottom: 2px solid black;
}
#order:hover{
  color: #ff5200;
  border-bottom: 2px solid #ff5200;;
}
.btnn-1 {
  margin-left: 25%;
  font-weight: bold;
  opacity: 70%;
  font-family:'Courier New', Courier, monospace;
  border: none;
  background-color: white;
  display: inline;
  width: 190px;
}
.btnn-1:hover {
  color: #ff5200;
}

.btnn-2 {
  margin-left: 25px;
  font-weight: bold;
  opacity: 70%;
   font-family:'Courier New', Courier, monospace;
  border: none;
  background-color: white;
  display: inline;
  width: 100px;
}
.btnn-2:hover {
  color: #ff5200;
}

.btnn-3 {
  margin-left: 25px;
  font-weight: bold;
  opacity: 70%;
   font-family:'Courier New', Courier, monospace;
  border: none;
  background-color: white;
  display: inline;
  width: 100px;
}
.btnn-3:hover {
  color: #ff5200;
}

.btnn-4 {
  margin-left: 25px;
  font-weight: bold;
  opacity: 70%;
   font-family:'Courier New', Courier, monospace;
  border: none;
  background-color: white;
  display: inline;
  width: 100px;
}
.btnn-4:hover {
  color: #ff5200;
}

.btnn-5 {
  margin-left: 25px;
  font-weight: bold;
  opacity: 70%;
   font-family:'Courier New', Courier, monospace;
  border: none;
  background-color: white;
  display: inline;
  width: 120px;
}
.btnn-5:hover {
  color: #ff5200;
}

.btnn-6 {
  font-weight: bold;
  opacity: 70%;
   font-family:'Courier New', Courier, monospace;
  border: none;
  background-color: white;
  display: inline;
  width: 150px;
}
.btnn-6:hover {
  color: #ff5200;
}

#new {
  color: #ff5200;
  font-size: 10px;
  margin-bottom: 10px;
}

/* -------Food Menu----*/

#routing-menu {
  display: flex;
  font-size: 10px;
  color: grey;
  opacity: 90%;
  margin-left: 20%;
  width: 70%;
  padding-top: 30px;
  cursor: pointer;
}

#three-menus:hover {
  color: black;
}

#hotelname-title {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-weight: bolder;
  font-size: 25px;
  margin-left: 20.8%;
  width: 160px;
  margin-top: 20px;
}

.shop-info {
  width: 57%;
  margin-left: 20.5%;
  margin-top: 20px;
  border-radius: 15px;
  border: 0.1px solid rgb(176, 175, 175);
  border-top: none;
  padding: 20px;
}

#ratings {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-weight: bold;
  padding-left: 10px;
  padding-top: 10px;
}

#cuisine {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-weight: bold;
  font-size: 13px;
  color: #ff5200;
  padding-left: 15px;
  margin-top: -10px;
}

#outlet {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-weight: bold;
  font-size: 13px;
  margin-left: 30px;
  margin-top: -28px;
}

#deals {
  font-weight: bolder;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 24px;
  margin-left: 21%;
  margin-top: 20px;
}

#discountoffer {
  font-weight: bolder;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  margin-top: -45px;
  margin-left: 100px;
}

#do-content {
  color: grey;
  font-size: 11px;
  margin-top: -15px;
  margin-left: 100px;
  color: rgb(195, 194, 194);
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.sod {
  width: 56%;
  height: 50px;
  margin-left: 21%;
  border-radius: 12px;
  border: 1px solid whitesmoke;
  background-color: rgb(230, 230, 230);
  text-align: center;
  color: black;
  font-weight: bold;
}
#sod-menu {
  border: 1px solid black;
  background-color: black;
  width: 75px;
  height: 75px;
  border-radius: 50%;
  text-align: center;
  padding-top: 25px;
  font-weight: bold;
  color: white;
  position: fixed;
  margin-left: 70%;
  margin-top: -15px;
}
.shopdetails{
  border:1px solid grey;
  border-radius: 28px;
  margin-top: 21px;
  margin-left: 22rem;
  height: 9rem;
  max-width: 50rem;
  font-family:'poppins', sans-serif;
}
.searchdishes{
  margin-left: 22rem;
  width: 50.5rem;
  height: 50px;
  border-radius: 15px;
  border:none;
}
.searchdishes::placeholder{
    text-align: center;
    font-weight: bold;
}
.menublack{
  border:1px solid black;
  border-radius: 50%;
  width: 80px;
  height: 80px;
  text-align: center;
  padding-top: 25px;
  font-weight: bold;
  color:white;
  background-color: black;
  margin-left: 66.4rem;
  position: fixed;
  z-index: 1000;
  margin-top: -65px;
  
}
.displayMenu{

  margin-left: 21.5rem;
  margin-top: 50px;
}
.menu-section button{
  margin-left:45rem;
  width: 125px;
  height: 40px;
  border-radius: 10px;
  color: green; 
  opacity: 80%;
  background-color: white;
  border:none;
  font-weight: bolder;
  
}

.menu-section span{
  font-size: 11px;
  margin-top: 5px;
  opacity: 50%;
  margin-left: 46.5rem;
  font-weight: bold;
  font-family:'poppins', sans-serif ;
}
.menu-section hr{
  width: 53rem;
  opacity: '10%';
  margin-top: 25px;
}


